body {
  margin: 0;
  background: #000; 
  font-family: 'Roboto', sans-serif;
}
video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('../assets/images/bg.jpg') no-repeat center center;
  background-size: cover;
  transition: 1000ms opacity;
}
.stopfade { 
   opacity: .5;
}

#saltInfo { 
  font-weight:100; 
  // background: rgba(0,0,0,0.3);
  color: white;
  // padding: 2rem;
  width: 100%;
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: center;
  p {
    margin-top: -15px;
    font-size: 1rem;
    margin-bottom: 40px;
    width: 100%;
    @include breakpoint(desktop) {
      margin-top: -30px;
    }
  }
  a, p {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  a {
    font-size: .9rem;
    position: relative;
    display: inline-block;
    // font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    background: transparent;
    transition: .6s ease; 
    border: 1px solid white;
    border-right: 1px solid white;
    margin-bottom: 10px;
    &:before, &:after {
      content: '';
      position: absolute;
      transition: all 300ms ease;
      z-index: 0;
    }
    &:hover{
      color: black;
      background: white;
    }
  }
  button { 
    display: block;
    padding: 2px;
    width: 50px;
    height: 50px;
    border: none; 
    margin: 5px auto; 
    font-size: .9rem;
    background: transparent;
    // background: rgba(255,255,255,0.23);
    color: #fff;
    text-transform: uppercase;
    border-radius: 50%; 
    cursor: pointer;
    transition: 300ms ease;
    outline: none;
    &:hover { 
       // background: rgba(0,0,0,0.5);
    }
  }
  img {
    width: 100%;
  }
}




@media screen and (max-width: 500px) { 
  div{
    width:70%;
  } 
}
@media screen and (max-device-width: 800px) {
  html { 
    background: url('../assets/images/bg.jpg') #000 no-repeat center center fixed; 
    background-size: cover;
  }
  #bgvid, #saltInfo button { 
    display: none; 
  }
}